<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mxnet.native.cpu.x86" version="0.9.5.1" targetFramework="net461" />
  <package id="mxnet.thirdparty.x86" version="1.0.0.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>