<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libzmqdep" version="4.2.0.4" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="mxnetdep" version="0.7.0.4" targetFramework="net461" />
  <package id="opencvdep" version="3.1.0.2" targetFramework="net461" />
</packages>